/* Page CSS relié à la page HTML sur les champions */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#27acb8, #0E343C);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

header a .logo {
    width: 40%;
    margin-left: -40px;
    margin-top: 0px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

header ul li .actuelle {
    background: #fff;
    color: #2b1055;
}

header ul li a:hover, 
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.menu {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu a {
    transition: 0.3s;
}

.menu:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #081519, transparent);
    z-index: 4;
}

.menu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 1;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 4;
    transform: translateY(110px);
}

#btn:hover {
    background: #0E353D;
    color: #ffffff;
}

footer {
    padding: 60px;
    background-color: #0E353D;
    color: #fff;
}

section  {
    position: relative;
    text-align: center;
    padding: 100px;
    background: #081519;
}

#btnhaut {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    transition: 0.3s;
}

#btnhaut:hover {
    background: #0E353D;
    color: #ffffff;
}

.separation {
    align-content: center;
    background-color: #081519;
}

.separation img {
    width: 100%;
    height: 50px;
}

section input {
    border-radius: 10px;
    height: 50px;
    text-align : center;
    font-size: 1.2em;
    background-color: #fff;
}

section input:hover {
    background-color:rgb(172, 231, 255);
}

section  {
    position: relative;
    text-align: center;
    padding: 100px;
    background: #081519;
}

section h2 {
    font-size: 5.5em;
    margin-bottom: 30px;
    color: #fff;
}

section h2 span {
    color: #addcf7;
}

.descperso {
    align-content: left;
}

.descperso p {
    font-size: 1.5em;
    color: #fff;
}

.descperso p a {
    text-decoration: none;
    color: #79bce2;
    transition: 0.4s;
}

.descperso p a:hover {
    text-decoration: underline;
    color: rgb(250, 83, 83);
}

.descperso span {
    font-size: 1.5em;
    color: #79bce2;
}

.desc {
    display: flex;
    justify-content: space-between;
    margin-right:-100px;
}

.desc image {
    margin-right: 0;
}

#LeReste {
    position: absolute;
    margin-top: 120px;
    margin-left: -50px;
    font-size: 5em;
    color: #addcf7;
}

#LaClasse {
    margin-left: 0px;
    margin-top: 400px;
}

.text {
    align-content: left;
}

.text p {
    font-size: 1.5em;
    color: #fff;
}

#LeTitre {
    position: absolute;
    text-align: left;
    margin-left: 100px;
}

#LogoClasse {
    width: 70px;
    height: auto;
    position: absolute;
    margin-top: -460px;
    margin-left: -330px;
}

#descplus {
    margin-top: 50px;
    font-size: 1.5em;
    color: #fff;
}

.flexbtn {
    display:flex;
    justify-content: center;
}

#btnchamp {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin-left: 20px;
    transition: 0.3s;
}

#btnchamp:hover {
    background: #addcf7;
    color: #000000;
    padding: 12px 45px;
    transform: translateY(-5px);
}

#erreur {
    color:red;
    font-size: 1.2em;
    margin-left: -100px;
}

.listechamp {
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

section .listechamp h2 {
    color:white;
}

section .listechamp ul li a {
    font-size: 1.5em;
    color: #79bce2;
    text-decoration: none;
    transition: 0.4s;
}

section .listechamp ul li {
    font-size: 1em;
    color: #ffffff;
}

section .listechamp ul li a:hover {
    text-decoration: underline;
    font-size: 2em;
    color: rgb(250, 83, 83);
}

audio {
    margin-top: 100px;
}

.listechamp img {
    margin-top: -30px;
}

iframe {
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color:#0E353D;
    border-width:10px;
    border-radius:10px;
}

.divvideo p {
    display: none;
    color: white;
    margin-top: 10px;
}

.divvideo {
    display:none;
    position: block;
    align-content: center;
}

.titredesc {
    display:none;
    margin-top: 50px;
}

.titredesc a {
    color: #79bce2;
    text-decoration: none;
    transition: 0.3s;
}

.titredesc a:hover {
    text-decoration: underline;
    color: rgb(250, 83, 83);
}

#defpop1 {
    color: white;
    display:none;
}

#defpop2 {
    color: white;
    display:none;
}

.videodesc {
    display:none;
    margin-top: 50px;
}

.videodesc a {
    color: #79bce2;
    text-decoration: none;
    transition: 0.3s;
}

.videodesc a:hover {
    text-decoration: underline;
    color: rgb(250, 83, 83);
}

#sepdesc {
    display: none;
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #081519;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #addcf7;
}

:root {
    scrollbar-color: #addcf7 #081519;
    scrollbar-width: thin;
}