/* Page CSS relié à la page HTML sur les modes de jeux */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#27acb8, #0E343C);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

header a .logo {
    width: 40%;
    margin-left: -40px;
    margin-top: 0px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

header ul li .actuelle {
    background: #fff;
    color: #2b1055;
}

header ul li a:hover, 
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.menu {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu a {
    transition: 0.3s;
}

.menu:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #081519, transparent);
    z-index: 4;
}

.menu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.imgtxt {
    width: 420px;
    height: 630px;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 1;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 4;
    transform: translateY(110px);
}

#btn:hover {
    background: rgb(37, 32, 112);
    color: #ffffff;
}

section  {
    position: relative;
    text-align: center;
    padding: 100px;
    background: #081519;
}

section h2 {
    font-size: 5.5em;
    margin-bottom: 50px;
    color: #fff;
}

section h2 span {
    color: #addcf7;
}

section p span {
    color: #addcf7;
    font-size: 1.2em;
    text-decoration: underline;
}

.textranked {
    display:flex;
    justify-content: space-between;
}

.textranked img {
    z-index:1;
    margin: -30px;
    height:fit-content;
    border:solid;
    border-radius: 20px;
    border-width: 10px;
    border-color:#0E353D;
}

.textranked p {
    font-size: 1.5em;
    color: #fff;
    flex: 1;
    margin: -30px 0px;
    margin-right: 60px;
    text-align: center;
}

.textranked p a {
    text-decoration: none;
    color: #addcf7;
    transition: 0.4s;
}

.textranked p a:hover {
    text-decoration: underline;
    color: rgb(250, 83, 83);
    font-size: 1.8em;
}

.textranked2 {
    display:flex;
    justify-content: space-between;
}

.textranked2 img {
    z-index:1;
    margin: -30px;
    height:fit-content;
    border:solid;
    border-radius: 20px;
    border-width: 10px;
    border-color:#0E353D;
}

.textranked2 p {
    font-size: 1.5em;
    color: #fff;
    flex: 1;
    margin: -30px 0px;
    margin-left: 60px;
    text-align: center;
}

.textranked2 p a {
    text-decoration: none;
    color: #addcf7;
    transition: 0.4s;
}

.textranked2 p a:hover {
    text-decoration: underline;
    color: rgb(250, 83, 83);
}

#btnranked {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    translate: -200px;
    transition: 0.3s;
}

#btnranked:hover {
    background: #0E353D;
    color: #ffffff;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 4;
    transform: translateY(110px);
}

#btn:hover {
    background: #0E353D;
    color: #ffffff;
}

footer {
    padding: 60px;
    background-color: #0E353D;
    color: #fff;
}

#btnhaut {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    transition: 0.3s;
}

#btnhaut:hover {
    background: #0E353D;
    color: #ffffff;
}

.separation {
    align-content: center;
    background-color: #081519;
}

.separation img {
    width: 100%;
    height: 50px;
}

#videos {
    margin-top: 50px;
    margin-left: 290px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border:solid;
    border-color:#0E353D;
    border-width:10px;
    border-radius:10px;
    z-index:100;
}

#videotdm {
    margin-top: 50px;
    margin-left: 290px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border:solid;
    border-color:#0E353D;
    border-width:10px;
    border-radius:10px;
    z-index:100;
}

#videoa {
    margin-top: 50px;
    margin-left: 290px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border:solid;
    border-color:#0E353D;
    border-width:10px;
    border-radius:10px;
    z-index:100;
}

.separationsiege {
    display: none;
    align-content: center;
    margin-top: 70px;
}

.separationsiege img {
    width: 100%;
    height: 50px;
}

.separationtdm {
    display: none;
    align-content: center;
    margin-top: 70px;
}

.separationtdm img {
    width: 100%;
    height: 50px;
}

.separationa {
    display: none;
    align-content: center;
    margin-top: 70px;
}

.separationa img {
    width: 100%;
    height: 50px;
}

.btnpluss {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    transition: 0.3s;
    margin-left: -400px;
    margin-top: 80px;
}

.btnpluss:hover {
    background: #0E353D;
    color: #ffffff;
}

.btnplustdm {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    transition: 0.3s;
    margin-left: 400px;
    margin-top: 80px;
}

.btnplustdm:hover {
    background: #0E353D;
    color: #ffffff;
}

.btnplusa {
    align-content:center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    z-index: 4;
    transition: 0.3s;
    margin-left: -400px;
    margin-top: 80px;
}

.btnplusa:hover {
    background: #0E353D;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #081519;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #addcf7;
}

:root {
    scrollbar-color: #addcf7 #081519;
    scrollbar-width: thin;
}